$color_1: #dfdfdf;
$color_2: inherit;
$color_3: #fff;
$color_4: #ffb300;
$color_5: #ddd;
$color_6: var(--primary-text-color);
$color_7: var(--primary-text-hover-color);
$color_8: var(--secondary-text-color);
$background-color_1: #1d1d1d;
$background-color_2: #393939;
$background-color_3: #222;

/* Poster css */
/* .module .content .items  */
/* .module .content .featured  */
/* .module .content .items  */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item */
/* .module .content .items .item  */
/* Loader */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
:root {
	--poster-section-padding: 10px;
}
.posters_section {
	padding: 10px 30px 40px;
	header {
		padding-left: var(--poster-section-padding);
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		color: $color_1;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
		h3 {
			font-weight: 700;
			font-size: var(--header-font-size);
		}
		.left {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.type {
			display: flex;
			align-items: center;
			gap: 10px;
			button {
				padding: 4px 10px;
				background-color: $background-color_1;
				border-radius: 2px;
				color: $color_2;
			}
			button.active {
				background-color: $background-color_2;
			}
		}
		>button {
			margin-right: 14px;
			color: $color_2;
		}
	}
	.load-container {
		width: 100%;
		height: 400px;
		display: grid;
		place-items: center;
		.loader {
			border: 4px solid #bfb7b7;
			border-top: 4px solid hsla(0, 2%, 34%, 0.815);
			border-radius: 50%;
			width: 50px;
			height: 50px;
			animation: spin 2s linear infinite;
		}
	}
}
.posters_section.horizontal {
	padding: 10px 30px 5px;
}
.items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.item {
		.data {
			span.serie {
				font-weight: 500;
			}
		}
	}
}
.items.hide {
	display: none;
}
.item {
	margin: 0;
	padding: var(--poster-section-padding);
	position: relative;
	margin-bottom: 6px;
	.data {
		width: 100%;
		margin-bottom: 10px;
		margin-top: 10px;
		position: relative;
		h3 {
			font-weight: 600;
			font-size: 0.825rem;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: $color_6;
			line-height: 14px;
			&:hover {
				color: $color_7;
			}
		}
		span {
			// width: 100%;
			font-size: 0.7rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: $color_8;
		}
	}
}
.item-load{
	padding: var(--poster-section-padding);
	position: relative;
	margin-bottom: 6px;
	.poster-load{
		background-color: #222;
		width: 100%;
		height: 173px;
		border-radius: 6px;
	}
	.data-load{
		margin: 10px 0;
		h3,span{
			background-color: #222;
			border-radius: 2px;
		}
		h3{
			width: 90%;
			height: 14px;
			margin-bottom: 8px;
		}
		span{
			width: 35%;
			display: block;
			height: 12px;
		}
	}
}
.se {
	width: 20%;
	margin: 0;
	padding: 10px;
}
.poster {
	width: 100%;
	height: max-content;
	position: relative;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
	background-color: $background-color_3;
	border-radius: 6px;
	a {
		.see {
			background: url(//playmovies4k.com/wp-content/themes/dooplay/assets/css/img/play1.svg) 50% 50% no-repeat;
			background-size: 40% 40%;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			transition: all 0.65s ease-in-out;
			opacity: 0;
		}
		.see.play1 {
			background: url(//playmovies4k.com/wp-content/themes/dooplay/assets/css/img/play1.svg) 50% 50% no-repeat;
			background-size: 40% 40%;
		}
		.see.play2 {
			background: url(//playmovies4k.com/wp-content/themes/dooplay/assets/css/img/play2.svg) 50% 50% no-repeat;
			background-size: 40% 40%;
		}
		.see.play3 {
			background: url(//playmovies4k.com/wp-content/themes/dooplay/assets/css/img/play3.svg) 50% 50% no-repeat;
			background-size: 40% 40%;
		}
		.see.play4 {
			background: url(//playmovies4k.com/wp-content/themes/dooplay/assets/css/img/play4.svg) 50% 50% no-repeat;
			background-size: 40% 40%;
		}
	}
	
	&:hover {
		>a {
			.see {
				transform: scale(0.75);
				opacity: 1;
			}
		}
		>.bookmark {
			margin-top: 0;
		}
		>.poster-image {
			img {
				transform: scale(1.2);
				filter: blur(2px) brightness(0.3);
			}
		}
	}
	.rating {
		background: rgba(255, 255, 255, 0.2);
		color: $color_3;
		text-shadow: 1px 0 #000;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 3px 8px;
		line-height: 18px;
		font-size: 12px;
		font-weight: 300;
		overflow: hidden;
		transition: 0.2s;
		z-index: 0;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		i {
			margin-right: 5px;
			color: $color_4;
		}
	}
	.bookmark {
		position: absolute;
		left: 0;
		top: 0;
		padding: 3px 8px;
		margin-top: -40px;
		transition: 0.2s;
		z-index: 0;
		cursor: pointer;
		i {
			color: $color_5;
		}
	}
	.media {
		position: absolute;
		right: 0;
		top: 0;
		padding: 3px 8px;
		transition: 0.2s;
		z-index: 0;
		padding: 2px 8px;
		line-height: 18px;
		font-size: 12px;
		font-weight: 300;
		background: rgba(50, 50, 50, 0.8);
		color: $color_3;
		backdrop-filter: blur(5px);
		cursor: pointer;
	}
	img {
		width: 100%;
		height: auto;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 6px;
		transition: all 0.2s ease-in-out;
	}
}
.bookmark {
	&:hover {
		+ {
			.see {
				transform: scale(0.75);
				opacity: 1;
			}
		}
	}
}
.media {
	&:hover {
		+ {
			.see {
				transform: scale(0.75);
				opacity: 1;
			}
		}
	}
}
.rating {
	&:hover {
		+ {
			.see {
				transform: scale(0.75);
				opacity: 1;
			}
		}
	}
}


//pages

.page-container{
	display: flex;
	justify-content: center;
	.page{
		margin: 0 6px 4px;
		background-color: #1d1d1d;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
	}
	.page.active{
		background-color: #393939;	
	}
}

//Filter page css

.filter-genres{
	max-width: 100%;
	flex-wrap: wrap;
	display: flex;
	.filter-genre{
		margin: 4px 6px;
		padding: 4px 8px;
		cursor: pointer;
		border-radius: 2px;
		color: var(--primary-text-color);
		font-size: 15px;
		background-color: #1a1a1a;

		&:hover{
			background-color: #313131;
		}
	}
	.filter-genre.active{
		background-color: #444;
		&:hover{
			background-color: #444;
		}
	}
}
.filter-form-container{
	padding: 10px 30px 10px;
	max-width: 750px;
	margin: 0 auto;
	& form{
		max-height: 1400px;
		overflow: hidden;
		transition: max-height 0.75s ease-in-out;
		&>div{
			margin-bottom: 8px;
			label{
				font-weight: 600;
			}
		}
		&>button{
			background-color: #333;
			color: #ccc;
			padding: 4px 12px;
			font-size: 15px;
			margin: 16px 0 10px;
			border: 1px solid transparent;
		}
		button.disabled{
			background-color: transparent;
			cursor: not-allowed;
			border: 1px solid #888;
		}
	}
	& form.hide{
		max-height: 0;
		transition: max-height 0.75s ease-in-out;
		overflow: hidden;
	}
	.filter-head{
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		
	}
}
@media screen and (min-width:1120px) {
	.items {
		.item,.item-load {
			width: calc(100% / 8) !important;
		}
	}
}
@media screen and (min-width:1000px) {
	.items {
		.item,.item-load {
			width: calc(100% / 7);
		}
	}
}
@media screen and (min-width:880px) and (max-width:999px) {
	.items {
		.item,.item-load {
			width: calc(100% / 6);
		}
	}
}
@media screen and (min-width:760px) and (max-width:879px) {
	.items {
		.item,.item-load {
			width: calc(100% / 5);
		}
	}
}
@media screen and (min-width:640px) and (max-width:759px) {
	.items {
		.item,.item-load {
			width: calc(100% / 4);
		}
	}
}
@media screen and (max-width:639px) {
	.items {
		.item ,.item-load{
			width: calc(100% / 3);
			.data{
				// display: none;
			}
			.data h3{
				font-size: 0.8rem;
			}
		}
		.item-load{
			.poster-load{
				height: 150px !important;
			}
			h3{
				height: 12px;
			}
			span{
				height: 8px;
			}
		}
	}
	.posters_section {
		padding: 10px 6px 20px !important;
	}
	.posters_section.horizontal {
		padding: 10px 6px 0px !important;
	}
	.filter-form-container{
		padding: 10px 14px 10px !important;
	}
	:root {
		--poster-section-padding: 8px;
	}
}
