
.season-details{
    margin: 0 40px;
    padding: 24px 0;
}
.episodes-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    .episode-container{
        // padding: 10px;
        position: relative;
        margin-bottom: 10px;
        span{
            display: block;
            font-size: 14px;
        }
        img{
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
        .episode-number,.episode-title{
            display: -webkit-box;
            -webkit-line-clamp:1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
@media screen and (min-width:1120px) {
	.episodes-container {
		.episode-container {
			width: calc(100% / 6 - 10px);
		}
	}
}
@media screen and (min-width:1000px) {
	.episodes-container {
		.episode-container {
			width: calc(100% / 5 - 10px);
		}
	}
}
@media screen and (min-width:880px) and (max-width:999px) {
	.episodes-container {
		.episode-container {
			width: calc(100% / 4 - 10px);
		}
	}
}
@media screen and (min-width:760px) and (max-width:879px) {
	.episodes-container {
		.episode-container {
			width: calc(100% / 4 - 10px);
		}
	}
}
@media screen and (min-width:640px) and (max-width:759px) {
	.episodes-container {
		.episode-container {
			width: calc(100% / 3 - 10px);
		}
	}
}

@media screen and (max-width:639px) {
    .season-details{
        margin: 0 10px;
    }
    .episodes-container{
        gap: 10px;
        .episode-container{
            width: calc(100% / 2 - 10px);
        }
    }
}